#container {
    background-color: white;
    height: 480px;
    width: 480px;  
    display: flex;
    flex-wrap: wrap;

    
}
body {
    background-color: green;
    display: flex;
    justify-content: center;
}
#box {
    background-color: blue;
}
.square {
    background-color: #676767;

}
.filled {
    background: lightcoral;
}
.square, .filled {
    width: 30px;
    border: solid black;
}