#container {
    background-color: white;
    height: 480px;
    width: 480px;  
    display: flex;
    flex-wrap: wrap;


    
}
body {
    background-color: green;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

}
#box {
    background-color: blue;
}
.square {
    background-color: white;

}
.filled {
    background: black;
}
.square, .filled {
    width: 30px;
    height: 30px;
}
#change {
    max-width: fit-content;
    
}
html {
    display: flex;
    justify-content: center;

}